@import "bootstrap";
@import "variables";
@import "preloader";

html, body, #root {
  height: 100%;
}

.page-content {
  height: 100%;
  padding: 50px 0;
  background: $background-color;
}

.table.items-centered {
  th, td {
    vertical-align: baseline !important;
  }
}

.close {
  background: transparent;
  border: 0;
  font-size: 10px;
  padding: 1.35rem 1.25rem;
  background: transparent escape-svg($btn-close-bg) center / $btn-close-width auto no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  width: 1em;
  height: 1em;
  z-index: 2;

  span {
    display: none;
  }
}

.color-box {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
